
//Montserrat fonts /English fonts/
@font-face {
    src: url('~@/assets/css/fonts/montserrat/montserrat-bold-webfont.ttf');
    font-family: Montserrat-Bold;
}

@font-face {
    src: url('~@/assets/css/fonts/montserrat/montserrat-regular-webfont.ttf');
    font-family: montserrat-regular;
}
//cairo fonts /Arabic fonts/
@font-face {
    src: url('~@/assets/css/fonts/Cairo/Cairo-Bold.ttf');
    font-family: Cairo-Bold;
}

@font-face {
    src: url('~@/assets/css/fonts/Cairo/Cairo-Regular.ttf');
    font-family: Cairo-Regular;
}
  