
body.rtl {
    text-align: right !important;
    direction: rtl !important;

    .navbar-nav{
        margin-left: unset !important;
        margin-right: auto !important;
  }

}
a{
  &:hover{
    text-decoration: none !important;
  }
  
}
// E:\esraa_works\university_app\src\assets\images\componentBg.jpg
.component-content{
  position: relative;
  background-image: url('~@/assets/images/componentBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(13, 63, 143, 0.28);
  }

  .page-title{
    color: #fff;
  }

  .form-container{
    z-index: 1;
  }
}