
.applayerCard{
    min-height: 100vh;
    position: relative;

      .employee {
        width:100%;
        background-color:rgba(255, 255, 255, 0.45);
        margin:10px auto;
        display:block;
        -webkit-box-shadow: 0px 0px 31px -19px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 31px -19px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 31px -19px rgba(0,0,0,0.75);
        padding: 30px;
        color: #0d3f8f;
        transition: all 0.5s ease-in-out;

        &:hover {
          background-color:rgba(255, 255, 255, 1);
        }
      }
    
      .employee-image {
        width:100%;
        transition:0.5s;
      }
      .employee-image img {
        height:100%;
        object-fit: cover;
      }
      .employee-name {
        font-weight:bold;
        padding:5px;
      }
      .employee-name h1 {
        font-size:30px;
      }
      .employee-name span {
        font-size:20px;
        color:yellow;
        padding:0px;
      }
      .employee-social-link ul li {
        position:relative;
        bottom:-120px;
      }
      .employee-social-link ul{
        text-align:center;
        list-style:none;
      }
      .employee-social-link ul li {
        display:inline-block;
        margin:7px;
        background-color:#000;
        padding:10px;
        border-radius:50%;
        line-height:0.1;
        margin-left:-5px;
      }
      .employee-social-link i {
        font-size:15px;
        color:#fff;
        animation-name:rotate-icon;
      }

}